<footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>6143614532</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Jalecarrillo65@gmail.com</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Jaletzie Arleth Carrillo Hernández | 4E</h2>
    </footer>