<nav>
            
            <a href="/">Inicio</a>
            <a href="/elisabeth">Élisabeth Vigée Le Brun</a>
            <a href="/fridakahlo">Frida Kahlo</a>
            <a href="/picasso">Pablo Picasso</a>
            <a href="/vangogh">Vincent Van Gogh</a>
            <a href="/davinci">Leonardo Da Vinci</a>
        </nav>