<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jaletzie Carrillo 4E</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="scripts/java.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
           
            
        </nav>
        <section class="textos-header">
            <h1>Mis 5 pintores</h1>
            <h2>f a v o r i t o s</h2>
        </section>
        <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C194.98,73.52 330.98,3.47 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            
            <div class="contenedor-sobre-nosotros">
                <img src="images/eli/e.jpg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>Este blog esta dedicado a apreciar el arte de algunos de mis pintores favoritos, haré mi mayor esfuerzo para lograr
                        cautivar la vista del lector con sus 5 cuadros más famosos y contaré un poco de su biografía, entre varios pintores
                        yo elegí 5 que de verdad entre todos, destacaban mucho para mi.
                        Espero disfrute la lectura, sea bienvenido a mi página web.
                        -Jaletzie xx.
                    </p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Pintores: </h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="images/van/v.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/brush.png" alt="">
                            <p> <a href="/vangogh"><center><b>Vincent Van Gogh</b></center></a></p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/pic/p.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/brush.png" alt="">
                            <p><a href="/picasso"><center><b>Pablo Picasso</b></center></a></p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/leo/l.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/brush.png" alt="">
                            <p><a href="/davinci"><center><b>Leonardo Da Vinci</b></center></a></p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/eli/e.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/brush.png" alt="">
                            <p><a href="/elisabeth"><center> <b>Élisabeth Vigée Le Brun</b></center></a></p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/fri/f.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/brush.png" alt="">
                            <p><a href="/fridakahlo"><center><b>Frida Kahlo</b></center></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
       
    </main>
    {{> footer}}
</body>

</html>